<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >YOUNG FINANCE</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="#research-library" onclick = $("#menu-close").click(); >Research Library</a>
    </li>
    <li>
      <a href="#tesla" onclick = $("#menu-close").click(); >Tesla</a>
    </li>
    <li>
      <a href="#palantir" onclick = $("#menu-close").click(); >Palantir</a>
    </li>
    <li>
      <a href="#hims" onclick = $("#menu-close").click(); >Hims&Hers Health</a>
    </li>
    <li>
      <a href="#tempusai" onclick = $("#menu-close").click(); >Tempus AI</a>
    </li>

    <li>
      <a href="../pages/about.html" onclick = $("#menu-close").click(); >About</a>
    </li>
  </ul>
</nav>
