<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top">YOUNG FINANCE</a>
    </li>
    <li>
      <a href="#top">Home</a>
    </li>
    <li>
      <a href="#research-library">Research Library</a>
    </li>
    <li>
      <a href="#comments">Comments</a>
    </li>
    <li class="sidebar-section-label">Reports</li>
    {% assign report_files = site.static_files | where_exp: "file", "file.path contains '/pages_html/'" | where_exp: "file", "file.extname == '.html'" | sort: "name" %}
    {% assign report_tickers = "" %}
    {% for report in report_files %}
      {% assign report_ticker = report.name | split: "_" | first | upcase %}
      {% assign report_marker = "|" | append: report_ticker | append: "|" %}
      {% unless report_tickers contains report_marker %}
        {% assign report_tickers = report_tickers | append: report_marker %}
      {% endunless %}
    {% endfor %}
    {% assign report_ticker_list = report_tickers | split: "|" %}
    {% for ticker in report_ticker_list %}
      {% if ticker != "" %}
        <li>
          <a class="sidebar-report-link" href="#report-{{ ticker | downcase }}">{{ ticker }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="sidebar-section-label">Watchlist</li>
    <li>
      <a href="#tesla">Tesla</a>
    </li>
    <li>
      <a href="#palantir">Palantir</a>
    </li>
    <li>
      <a href="#hims">Hims&Hers Health</a>
    </li>
    <li>
      <a href="#tempusai">Tempus AI</a>
    </li>

    <li>
      <a href="../pages/about.html">About</a>
    </li>
  </ul>
</nav>
